<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <context-param>
        <param-name>user-name</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>1234</param-value>
    </context-param>
    <context-param>
        <param-name>mysql-url</param-name>
        <param-value>jdbc:mysql://localhost:3306/studentDataMiniProject</param-value>
    </context-param>
    <context-param>
        <param-name>mysql-driver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
<!--<servlet>-->
<!--    <servlet-name>test</servlet-name>-->
<!--    <servlet-class>Controller.lk.ijse.backend.student</servlet-class>-->
<!--</servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>test</servlet-name>-->
<!--        <url-pattern>/student</url-pattern>-->
<!--    </servlet-mapping>-->

</web-app>